<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAVORITE</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="top">
        <marquee behavior="slide" width="80%" height="25px" direction="left" loop="9" scrollamount="5">Sign up and get <b>10% discount.</b>Use Code: <b>FIRST10</b></marquee>
    </div>
    <div class="nav">
        <div class="navbar">
            <div class="logo"><img src="../image/logos.png" alt=""></div>
            <div class="nav-list">
                <div class="nav-list-item"><a href="./arrival.html">NEW ARRIVAL</a></div>
                <div class="nav-list-item"><a href="./formals.html">FORMALS</a></div>
                <div class="nav-list-item"><a href="./casuals.html">CASUALS</a></div>
                <div class="nav-list-item"><a class="sale" href="./sale.html">SALE</a></div>
                <div class="nav-list-item"><a href="./return.html">RETURN POLICY</a></div>
        </div>
            <div class="nav-icon">
                <div class="search">
                    <input  type="search" placeholder="SEARCH"><button >
                    <span class="material-symbols-outlined">
                    search</button>
                </span>
                </div>
                <div class="fav"><a href="./fav.html">
                    <span class="material-symbols-outlined">
                        favorite
                    </span></a>
                </div>
                <div class="cart"><a href="./cart.html">
                    <span class="material-symbols-outlined">
                        add_shopping_cart
                        </span></a>
                </div>
                <div class="log-in"><a href="./login.html">
                    <span class="material-symbols-outlined">
                        account_circle
                        </span></a>
                </div>
                <div>
                    <a class="home" href="../index.html"><span class="material-symbols-outlined">
                        home
                        </span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="heading"><h2>FAVORITE</h2></div>
    <div class="fav-item-body">
        <div class="fav-item">
            <div class="fav-items">
                <img src="https://sslimages.shoppersstop.com/sys-master/images/ha4/h91/29242870595614/S23JJ293302101_PINK.jpg_230Wx334H" alt=""><p>printed viscose regular fit men's casual shirt - pink</p><button>BUY NOW</button><button>REMOVE</button>
                <span class="material-symbols-outlined">
                    favorite
                </span>
            </div>
            <div class="fav-items">
                <img src="https://sslimages.shoppersstop.com/sys-master/images/h67/h8a/29955324510238/S23JJ293313404_GREEN.jpg_230Wx334H" alt=""><p>solid cotton regular fit men's t-shirt - green</p><button>BUY NOW</button><button>REMOVE</button>
                <span class="material-symbols-outlined">
                    favorite
                </span>
            </div>
            <div class="fav-items">
                <img src="https://sslimages.shoppersstop.com/sys-master/images/h5d/hbe/29243710144542/S23JJ293302201_BLACK.jpg_230Wx334H" alt=""><p>printed viscose regular fit men's casual shirt - black</p><button>BUY NOW</button><button>REMOVE</button>
                <span class="material-symbols-outlined">
                    favorite
                </span>
            </div>
            <div class="fav-items">
                <img src="https://sslimages.shoppersstop.com/sys-master/images/hb8/hdd/29241166954526/S23JJ293311301_WHITE.jpg_230Wx334H" alt=""><p>solid cotton slim fit men's t-shirt - white</p><button>BUY NOW</button><button>REMOVE</button>
                <span class="material-symbols-outlined">
                    favorite
                </span>
            </div>
        </div>
    </div>


    

    
    
    <div class="footer">
        <div class="main-footer">
            <div class="footer1">
                <p>NEED HELP?</p>
                <ul>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Shipping Policy</a></li>
                    <li><a href="#">Return and Cancellation policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer2">
                <p>ABOUT US</p>
                <ul>
                    <li><a href="#">Aditya Birla Fashion & Retail Ltd</a></li>
                    <li><a href="#">Find a Store</a></li>
                    <li><a href="#">Terms and conditions For Membership Program</a></li>
                    <li><a href="#">Bulk Order</a></li>
                </ul>
            </div>
            <div class="footer3"></div>
            <div class="footer4">
                <div class="footer-para-icon">
                    <div><img src="./image/as_small_icon.svg" alt=""></div>
                    <div><p>join the formals collection</p></div>
                </div>
                <div class="footer-input"><div><input type="text" placeholder="Enter your e-mail / mobile number"></div>
                    <p>Sign up for updates on the latest collection,campaigns and videos</p>
                </div>
                    <div class="footter-social"><p>FIND US ON SOCIAL</p>
                    </div>
            </div>
        </div>
    </div>
    
</body>
</html>