<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RETURN</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="top">
        <marquee behavior="slide" width="80%" height="25px" direction="left" loop="9" scrollamount="5">Sign up and get <b>10% discount.</b>Use Code: <b>FIRST10</b></marquee>
    </div>
    <div class="nav">
        <div class="navbar">
            <div class="logo"><img src="../image/logos.png" alt=""></div>
            <div class="nav-list">
                <div class="nav-list-item"><a href="./arrival.html">NEW ARRIVAL</a></div>
                <div class="nav-list-item"><a href="./formals.html">FORMALS</a></div>
                <div class="nav-list-item"><a href="./casuals.html">CASUALS</a></div>
                <div class="nav-list-item"><a class="sale" href="./sale.html">SALE</a></div>
                <div class="nav-list-item"><a href="./return.html">RETURN POLICY</a></div>
        </div>
            <div class="nav-icon">
                <div class="search">
                    <input  type="search" placeholder="SEARCH"><button >
                    <span class="material-symbols-outlined">
                    search</button>
                </span>
                </div>
                <div class="fav"><a href="./fav.html">
                    <span class="material-symbols-outlined">
                        favorite
                    </span></a>
                </div>
                <div class="cart"><a href="./cart.html">
                    <span class="material-symbols-outlined">
                        add_shopping_cart
                        </span></a>
                </div>
                <div class="log-in"><a href="./login.html">
                    <span class="material-symbols-outlined">
                        account_circle
                        </span></a>
                </div>
                <div>
                    <a class="home" href="../index.html"><span class="material-symbols-outlined">
                        home
                        </span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-body">
        <div class="return-content">
            <h2>RETURNS & EXCHANGES</h2>
            <p class="return-para">All Customer Secure With 30 Days Return Facility</p>
            <p class="return-para">Free Return within 30 days of Receiving your order (No question asked)</p>
            <p>You can ask for Store credits or money back in your bank account</p>
            <p>Every product that you buy from us is eligible for free returns,You may return unworn, unwashed and unaltered items purchased from us for a full refund or store credit within 30 days from the date of delivery.</p>
            <p class="return-para">Our courier partner will collect package from your doorstep in 2-3 days after return request</p>
            <p>(You can also send back package to us by your own if reverse pickup service not available at some location by our courier partner )</p>

            <p class="return-para">Eligibility</p>

            <p>Unused with tags & Unwashed and Unaltered</p>
            <p>Once we receive return Shipment at our warehouse ,refund will be initiated within 2-3 days</p>
            <p>1) If you have made online payment,your refund will be credited into your same account in 5 to 6 days once parcel return back to our warehouse.(reverse process)</p>              
            <p>2) If you have done cash on delivery: You need to provide us your bank details via email(contact@company.com) or whatsapp (9227273030),</p>                
            <p>We will refund your amount via UPI Or IMPS  in 2 to 3 days once parcel return back to our warehouse.</p>
            <p>3) You can also ask for refund in term of store credit, which you can use in future to buy other hamercop products.</p>
            <p>4)For Return in case of product below 1000rs(each product should be above 1000rs) customer have to pay return courier charges for that or self ship the product to us</p>
            <p class="return-para">IMPORTANT:</p>
            <p>he items need to be unused, tags intact and unaltered.</p>    
            <p>For Custom Shirts=it is not sustainable for us to offer returns and exchanges for a custom shirt as it is already manufactured according to your specifications and can’t be sold to anyone else.</p>
            <p>We offer 1-time complimentary Size exchange or Product exchange or Return and Refund for any of our orders after that courier charges will be applicable.</p>  
            <p>Please note that we do not provide free reverse pick-up service for product  value less than Rs1000.In such cases we request you to please self-ship the product to us from any courier company.</p>
                
            <p class="return-para">CANCELLATIONS</p>
                
            <p>We are not able to cancel orders once they are shipped.If so, the order can be cancelled only after receipt of delivery by the customer. For all accepted cancellations, we will refund your money as the processing of returns completed.</p>
                
            <p class="return-para">DAMAGES:</p>
                
            <p></p>Please inform our customer care number,if any articles are delivered without tags. Please do not accept a delivery if the packaging is not properly sealed or is damaged</p>
            
            <p>That’s Sad for us that we can’t serve you properly, Please Give us a feedback on live chat,if there’s something specific due to which you would like to return. We will try to improve.</p>
                
        <p>No worries,we offer full refund in case of returns.</p>
                
        <p>Some customers will be honest , they will tell what exactly you need to change to make it better, some will simply say you are not good enough. Listen carefully to the honest ones. They understand. They know how difficult it is to create a perfect product - Something that fits all the shapes.</p>
                
        <p>One thing we have learned during our time is - ASK. If the customer wants to return , thats ok, but just ask why? Not because you want to change his mind on the basis of efforts you have made. But because you want to improve every single day.</p>
        </div>
    </div>
    




    
    
    <div class="footer">
        <div class="main-footer">
            <div class="footer1">
                <p>NEED HELP?</p>
                <ul>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Shipping Policy</a></li>
                    <li><a href="#">Return and Cancellation policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer2">
                <p>ABOUT US</p>
                <ul>
                    <li><a href="#">Aditya Birla Fashion & Retail Ltd</a></li>
                    <li><a href="#">Find a Store</a></li>
                    <li><a href="#">Terms and conditions For Membership Program</a></li>
                    <li><a href="#">Bulk Order</a></li>
                </ul>
            </div>
            <div class="footer3"></div>
            <div class="footer4">
                <div class="footer-para-icon">
                    <div><img src="./image/as_small_icon.svg" alt=""></div>
                    <div><p>join the formals collection</p></div>
                </div>
                <div class="footer-input"><div><input type="text" placeholder="Enter your e-mail / mobile number"></div>
                    <p>Sign up for updates on the latest collection,campaigns and videos</p>
                </div>
                    <div class="footter-social"><p>FIND US ON SOCIAL</p>
                    </div>
            </div>
        </div>
    </div>
    
</body>
</html>